In [68]:
import pandas as pd

In [69]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M',skiprows=0)[0]
df

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

# Data Cleaning

#### So now we have the data. We will remove the rows with no boroughs assigned and reset the indexes

In [70]:
indexNames = df[ df['Borough'] == 'Not assigned' ].index
# Delete these row indexes from dataFrame
df.drop(indexNames , inplace=True)
df.reset_index(drop=True, inplace=True)
df

,Postal Code,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [71]:
df.shape

(103, 3)

In [72]:
df = df.sort_values('Postal Code', ascending = True)
df

   Postal Code      Borough                                      Neighbourhood
6          M1B  Scarborough                                     Malvern, Rouge
12         M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
18         M1E  Scarborough                  Guildwood, Morningside, West Hill
22         M1G  Scarborough                                             Woburn
26         M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
64         M9N         York                                             Weston
70         M9P    Etobicoke                                          Westmount
77         M9R    Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
89         M9V    Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
94         M9W    Etobicoke                Northwest, West Humber - Clairville

[103 rows x 3 columns]

In [73]:
coord_df = pd.read_csv("https://cocl.us/Geospatial_data")
coord_df

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [75]:
df['Latitude'] = coord_df['Latitude']
df['Longitude'] = coord_df['Longitude']
df.reset_index(drop=True, inplace=True)
df

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.727929,-79.262029
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.794200,-79.262029
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.778517,-79.346556
3,M1G,Scarborough,Woburn,43.770120,-79.408493
4,M1H,Scarborough,Cedarbrae,43.745906,-79.352188
...,...,...,...,...,...
98,M9N,York,Weston,43.696948,-79.411307
99,M9P,Etobicoke,Westmount,43.648429,-79.382280
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.647927,-79.419750
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.602414,-79.543484
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.650943,-79.554724